.container{
    width: 100%;
    background-color:aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontainer{
    width: 500px;
    height: 500px;
    background-color:cadetblue;
    border: 2px solid black;
}
h1{
    font-family:cursive;
}
.form{
    height:100px;
    width:150px;
}
